
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    font-family: "Roboto", sans-serif;
}

.button{
    width: 48px;
    height: 48px;
    margin:5px;
    padding:10px;
    border-radius:5px;
    color: black;
    background-color: #454545;
    box-shadow: 0px 0px 0px #454545;
    cursor: auto;
    transition: color, background-color 200ms;
    transition: box-shadow 400ms;
}
.button:hover{
    color: #f0f0f0;
    background-color: #5A5A5A;
    box-shadow: 0px 0px 6px #5A5A5A;
    cursor: pointer;

}
#arm canvas#myCanvas{
    width:100% !important;
    height:100% !important;
    position: absolute;
    top:0;
    left:0;
}
#pivot{
    pointer-events: none;
    width:300px !important;
    height:300px !important;
    position: absolute;
    top:0;
    right:0;
}
canvas {
    display: block;
}

.menu-button{
    background-color: rgba(0,0,0,0);
    color: #f0f0f0;
    border-radius:2px;
    width: 270px;
}
.first{
    background-color: rgba(0,0,0,0);
    color: #f0f0f0;
    border-radius:2px;
    padding:13px;
    margin: 2px;
    width: calc(100% - 30px);
}

.menu-button:hover{
    background-color: #5A5A5A;
}


nav{
    width: 300px;
    padding: 1px 0px;

    /* for animation*/
    position: absolute;
    transition: all 0.3s;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}


li{
    display: flex;
    align-items: center;
}
#loadMenu>ul>li:nth-child(2){
    min-height: 48px;
    height: auto;
}
li>a{
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    color: #f0f0f0;
    text-decoration: none;
    display: flex;
    text-align: left;
    white-space: nowrap;

}

.toggle, .toggle:before, .slot__label, .curtain {
    transition-property: background-color, transform, visibility;
    transition-duration: 0.25s;
    transition-timing-function: ease-in, cubic-bezier(0.6,0.2,0.4,1.5), linear;
}
.toggle:before, .slot, .slot__label {
    display: block;
}
.slot{
    flex-grow: 1;
}
.slot__label{
    width: 100%;
}
.toggle:before, .curtain {
    position: absolute;
}

.toggle:focus {
    outline: transparent;
}
.toggle,input{
    border-radius: 0.75em;
    box-shadow: 0 0 0 0.1em inset;
    cursor: pointer;
    position: relative;
    margin-right: 0.25em;
    width: 3em;
    height: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #ffa31a;
}
.toggle:before {
    background: currentColor;
    border-radius: 50%;
    content: "";
    top: 0.2em;
    left: 0.2em;
    width: 1.1em;
    height: 1.1em;
}
.toggle:checked:before {
    transform: translateX(1.5em);
}
.toggle:checked ~ .slot .slot__label, .slot__label:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
    transform: translateY(-100%) scaleY(1);
}
input{
    border-radius: 1.5em;
    height: 3em;
    width:100%;
}

nav .slot, nav a {
    color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    overflow: hidden;
    height: 1em;
    -webkit-text-stroke: 0.05em #f0f0f0;
}
.slot__label {
    transform-origin: 50% 0;
}
.slot__label:nth-child(2) {
    transform-origin: 50% 100%;
}

#firstMenu{
    width: 74px;
    left: 0px;
    z-index: 3;
    background-color: #1C1E2A;
    transition: all 0.2s;
}
#firstMenu > ul{
    position: relative;
    transition: all 0.2s;

}
#firstMenu > ul:first-child{
    z-index: 4;
}
#loadMenu{
    z-index: 2;
    background-color: #2C2F3E;
    left: -300px;
}
.upload-btn-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#fileBtn {
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    background-color: #ffa31a;
    width: 100%;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.menu-button input[type=file] {
    font-size: 100px;
    height: 60px;
    width: 270px;
    position: absolute;
    left: 5px;
    top: 70px;
    opacity: 0;
}
#optionsMenu{
    z-index: 2;
    background-color: #2C2F3E;
    left: -300px;
}
.icons{
    margin: auto;
}

#auth{
    background-color: #1C1E2A;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9998;
    padding: 20px;
    border-radius: 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#auth *{
    font-size: 1.1em;
}
#auth>form{
    display: flex;
    flex-direction: column;
}
#auth input{
    margin-top: 5px;
    margin-bottom:20px;
    background-color: #ffa31a;
    height:2em;
    width:auto;
    text-align: center;
}
#auth label{
    color: #ffa31a;
}

#auth button{
    padding: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;

    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    overflow: hidden;
    height: 1em;

    background-color: #ffa31a;
    color: #f0f0f0;
    border:  2px solid #f0f0f0;
    border-radius: 1.5em;
}
#auth button:hover{
    background-color: #a86400;
}
#auth>form> button:before {
    content:"";
    display:block;
    position:absolute;
    z-index:9999;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    border:2px solid black;
    border-radius: 1.5em;
}
#auth>form>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#auth>form>div>button{
    width: calc(50% - 20px);
}
