
body {
    position: fixed;
    height: 100%;
    width:100%;
    overflow:hidden;
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    font-family: "Roboto", sans-serif;
}

.button{
    width: 48px;
    height: 48px;
    margin:5px;
    padding:10px;
    border-radius:5px;
    color: black;
    background-color: #454545;
    box-shadow: 0px 0px 0px #454545;
    cursor: auto;
    transition: color, background-color 200ms;
    transition: box-shadow 400ms;
}
.scroll-list .button{
    padding: 10px 5px;
}
.button:hover{
    color: #f0f0f0;
    background-color: #5A5A5A;
    box-shadow: 0px 0px 6px #5A5A5A;
    cursor: pointer;
}
.button-no-hover:hover{
    background-color: #454545;
    box-shadow: 0px 0px 0px #5A5A5A;
    cursor: pointer;
}

#arm canvas#myCanvas{
    width:100% !important;
    height:100% !important;
    position: absolute;
    top:0;
    left:0;
}
#pivot{
    pointer-events: none;
    width:300px !important;
    height:300px !important;
    position: absolute;
    top:0;
    right:0;
}
canvas {
    display: block;
}

.menu-button{
    background-color: rgba(0,0,0,0);
    color: #f0f0f0;
    border-radius:2px;
    width: 270px;
}
#loadMenu .menu-button{
    width: 570px;
}
.first{
    background-color: rgba(0,0,0,0);
    color: #f0f0f0;
    border-radius:2px;
    padding:13px;
    margin: 2px;
    width: calc(100% - 30px);
}

.menu-button:hover{
    background-color: #5A5A5A;
}
.menu-button-no-hover:hover{
    background-color: rgba(0,0,0,0) !important;
}

nav{
    width: 300px;
    padding: 1px 0px;

    /* for animation*/
    position: absolute;
    transition: all 0.3s;

}

nav ul {
    list-style-type: none;
    margin: 5px 0px;
    padding: 0;
}

li{
    display: flex;
    align-items: center;
}
#loadMenu>ul>li:nth-child(2){
    min-height: 48px;
    height: auto;
}
li>a{
    align-items: center;
    font-size: 18px;
    font-weight: normal;
    color: #f0f0f0;
    text-decoration: none;
    display: flex;
    text-align: left;
    white-space: nowrap;

}

.toggle, .toggle:before, .slot__label, .curtain {
    transition-property: background-color, transform, visibility;
    transition-duration: 0.25s;
    transition-timing-function: ease-in, cubic-bezier(0.6,0.2,0.4,1.5), linear;
}
.toggle:before, .slot, .slot__label {
    display: block;
}
.slot{
    flex-grow: 1;
}
.slot__label{
    width: 100%;
}
.toggle:before, .curtain {
    position: absolute;
}

.toggle:focus {
    outline: transparent;
}
.toggle,input, .select-menu,.select-menu option{
    border-radius: 0.75em;
    box-shadow: 0 0 0 0.1em inset;
    cursor: pointer;
    position: relative;
    margin-right: 0.25em;
    width: 3em;
    height: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    background-color: #ffa31a;
}
.toggle:before {
    background: currentColor;
    border-radius: 50%;
    content: "";
    top: 0.2em;
    left: 0.2em;
    width: 1.1em;
    height: 1.1em;
}
.toggle:checked:before {
    transform: translateX(1.5em);
}
.toggle:checked ~ .slot .slot__label, .slot__label:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
    transform: translateY(-100%) scaleY(1);
}
input, .select-menu, .select-menu option{
    border-radius: 1.5em;
    height: 3em;
    width:100%;
}
select option:checked {
    color: blue;
}
.radioItem [type="radio"]{
    display:none;
}
.radioItem + .radioItem{
    margin-top: 15px;
}

.radioItem label{
    display: block;
    padding: 20px 60px;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 6px;
    cursor: pointer;
    min-width: 250px;
    white-space: nowrap;
    position: relative;
}


.radioItem label:after,
.radioItem label:before{
    content: "";
    position: absolute;
    border-radius:50%;
}
.radioItem label:after{
    height:20px;
    width: 20px;
    border: 2px solid #FFA31A;
    left:20px;
    top: calc(50% - 12px);
}
.radioItem label:before{
    background: #f0f0f0;
    height: 10px;
    width: 10px;
    left: 27px;
    top: calc(50% - 5px);
    transform: scale(5);
    transition: .4s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
}
.radio-item [type="radio"]:checked ~ label{
    border-color: #f0f0f0;
}
.radioItem input[type="radio"]:checked + label{
    background: #FFA31A;
    font-weight: bold;
}
.radioItem [type="radio"]:checked ~ label:before{
    opacity:1;
    visibility:visible;
    transform: scale(1);
}
.radioItem [type="radio"]:checked + label:before{
    background: #f0f0f0;

}
.radioItem [type="radio"]:checked + label:after{
    border: 2px solid #f0f0f0;
}
.radioList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


nav .slot, nav a {
    color: transparent;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    overflow: hidden;
    height: 1.2em;
    -webkit-text-stroke: 0.05em #f0f0f0;
}

#loadMenu>ul>li{
    display: flex;
    flex-direction: column;
}
.slot__label {
    transform-origin: 50% 0;
}
.slot__label:nth-child(2) {
    transform-origin: 50% 100%;
}

#firstMenu{
    width: 74px;
    left: 0px;
    margin:0px;
    padding:0px;
    z-index: 4;
    background-color: #1C1E2A;
    transition: all 0.2s;
}
#firstMenu > ul{
    position: relative;
    transition: all 0.2s;

}
#firstMenu > ul:first-child{
    z-index: 5;
    margin: 0px;
}
#loadMenu{
    z-index: 3;
    background-color: #2C2F3E;
    left: -600px;
    width: 600px;
}
.upload-btn-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

li button {
    border: 2px solid #f0f0f0;
    color: #f0f0f0;
    background-color: #ffa31a;
    width: 100%;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}
li button:hover{
    background-color:#a86400;
}
table button{
    padding:5px;
}
input[type="number"],.select-menu{
  border-radius: 0.75em;
  color: #f0f0f0;
  width: 4em;
  height: 2em;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; /* Ustawić margines na 0, aby ukryć obszar strzałek */
}
input[type="number"]{
  -moz-appearance: textfield;
}
#menuIcon{
    padding: 11px 13px;
}

#logout,td>button:nth-child(2){
    background-color: #990000;
}
#deleteAccount{
    background-color: #870000;
}
#logout:hover,td>button:nth-child(2):hover{
    background-color: #ff0000;
}
#deleteAccount:hover{
    background-color: #190A05;
}

td>button:first-child{
    background-color: #218838;
}
td>button:first-child:hover{
    background-color: #28a745;
}
.menu-button input[type=file] {
    font-size: 100px;
    height: 60px;
    width: 270px;
    position: absolute;
    left: 5px;
    top: 70px;
    opacity: 0;
}
.menu-button .select-menu,.menu-button .select-menu option{
    font-size: 1.2em;
    height: 2em;
    width: 5em;
}
#optionsMenu, #portMenu{
    z-index: 3;
    background-color: #2C2F3E;
    left: -400px;
    width: 400px;
}
#optionsMenu .menu-button, #portMenu .menu-button{
  width: 370px;
}
#loadMenu .menu-button input[type=file] {
    width: 570px;
}
hr{
    margin: 0px 15px;
}
.scroll-list{
    overflow-y: auto;
    overflow-x: hidden;
    max-height:700px;
    margin:0px 5px;
}
#loadMenu .scroll-list{
    border-top:1px solid #f0cc00;
    border-bottom:1px solid #f0cc00;
}

.icons{
    margin: auto;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 163, 26, 0.2);
    z-index: 6;
    display: none;
}

#popup {
    position: fixed;
    font-size: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 7;
    background-color: #1C1E2A;
    color: #ffa31a;
    border-radius: 1.5em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: none;
}
#popup button{
    padding: 5px;
    width: 100%;
    align-items: center;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    overflow: hidden;
    background-color: #ffa31a;
    color: #f0f0f0;
    border:  2px solid #f0f0f0;
    border-radius: 1.5em;
}
#popup button:hover{
    background-color: #a86400;
}

tr>td:first-child{
    width: 30px;;
}
td{
    vertical-align: middle;
    height: 100%;
}
td>label{
    padding-left: 0px !important;
}
td>button{
    font-size: 90%;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
}

#tableFiles, #tablePorts{
     overflow: auto;
     display:block !important;
     flex-direction: unset !important;
}

table{
    color: #f0f0f0;
    width: 100%;
    font-size: 90%;
    border-collapse: collapse;
}
td:not(:first-child) {
  text-align: center;
}
table th{
    text-align: center;
}
table td, table th {
    border-left:1px solid #f0cc00;
    border-right:1px solid #f0cc00;
    padding:5px;
}
#loadMenu th:not(:first-child){
    border-top:1px solid #f0cc00;
}
#loadMenu td:not(:last-child){
    border-top:1px solid #f0cc00;
}

#tablePorts td,#tablePorts th{
    border: 0px;
}
#tablePorts td{
    text-align:center;
}

#positionBox{
    position: absolute;
    min-width: 300px;
    text-align: center;
    left: 50%;
    top:20px;
    transform: translate(-50%, 0%);
    padding: 20px;
    clip-path: polygon(8% 0, 92% 0,100% 50%, 92% 100%, 8% 100%,0 50%);
    background-color: #2C2F3E;
    z-index: 2;
}

#positionText{
    margin: 0px;
    color: #ffa31a;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 1;
    overflow: hidden;
    height: 1em;
}

.center-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f0f0f0;
}
.precision-li{ 
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    height: 50px;
}
.precision-input{
    box-sizing: border-box !important; 
    margin-right: 0 !important;
    height: 100% !important;
    width: 250px !important;
    border-radius: 0.75em 0px 0px 0.75em !important;
}
.precision-select{
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100px;
    border-radius: 0px 0.75em 0.75em 0px;
}
@media screen and (max-width: 960px) {
    #positionBox{
        min-width: 220px;
    }
    #pivot{
        width:250px !important;
        height:250px !important;
    }
}
@media screen and (max-width: 768px){
    #pivot{
        width:200px !important;
        height:200px !important;
    }
    table{
        font-size:150%;
    }
    #loadMenu{
        max-width: calc(100% - 74px);
    }
    .menu-button{
        max-width: calc(100% - 30px);
    }

}
@media screen and (max-width: 680px){
    #pivot{
        display: none;
    }
}

@media screen and (max-width: 600px){
    #positionText{
        color: #ffa31a;
        font-size: 1.3em;
        -webkit-text-stroke: 0;
    }
}
@media screen and (max-height: 950px){
    .scroll-list{
        max-height:550px;
    }
}
@media screen and (max-height: 800px){
    .scroll-list{
        max-height:400px;
    }
}
@media screen and (max-height: 650px){
    .scroll-list{
        max-height:300px;
    }
}

