body {
     height: 100%;
     margin: 0;
     padding: 0;
     background-color: #1b1b1b;
     font-family: "Roboto", sans-serif;
   }

.button{
    width: 40px;
    height: 40px;
    margin:5px;
    padding:10px;
    border-radius:5px;
    color: black;
    background-color: #454545;
    box-shadow: 0px 0px 0px #454545;
    cursor: auto;
    transition: color, background-color 200ms;
    transition: box-shadow 400ms;
}
.button:hover{
    color: #969696;
    background-color: #5A5A5A;
    box-shadow: 0px 0px 6px #5A5A5A;
    cursor: pointer;

}
#arm canvas#myCanvas{
    width:100% !important;
    height:100% !important;
    position: absolute;
    top:0;
    left:0;
}
#pivot{
    pointer-events: none;
    width:300px !important;
    height:300px !important;
    position: absolute;
    top:0;
    right:0;
}
 canvas {
        display: block;
      }

#burger-button{
  position: fixed;
}

.menu-button{
  background-color: rgba(0,0,0,0);
  color: #292929;
  border-radius:2px;
  width: 220px;
}
.menu-button:hover{
  background-color: #5A5A5A;
}


nav {
  width: 250px;
  height: 100%;
  padding: 1px 0px;
  background-color: #292929;

  /* for animation*/
  position: absolute;
  left: -250px;
  transition: all 0.5s; /
}

nav ul {
  list-style-type: none;
  margin: 0;
}
ul{
  padding: 0;
}
li{
  display: flex;
  align-items: center;
}
li>a{
  justify-content: center;
  font-size: 18px;
  font-weight: normal;
  color: #969696;
  text-decoration: none;
  display: block;
  text-align: center;
}
li>svg{
  display: block;
   margin: auto;
   text-align: center;
}

.toggle, .toggle:before, .slot__label, .curtain {
	transition-property: background-color, transform, visibility;
	transition-duration: 0.25s;
	transition-timing-function: ease-in, cubic-bezier(0.6,0.2,0.4,1.5), linear;
}
.toggle:before, .slot, .slot__label {
	display: block;
}
.toggle:before, .curtain {
	position: absolute;
}
.toggle:checked{
	background-color: #ffa31a;
}
.toggle:focus {
	outline: transparent;
}
.toggle {
	border-radius: 0.75em;
	box-shadow: 0 0 0 0.1em inset;
	cursor: pointer;
	position: relative;
	margin-right: 0.25em;
	width: 3em;
	height: 1.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.toggle:before {
	background: currentColor;
	border-radius: 50%;
	content: "";
	top: 0.2em;
	left: 0.2em;
	width: 1.1em;
	height: 1.1em;
}
.toggle:checked:before {
	transform: translateX(1.5em);
}
.toggle:checked ~ .slot .slot__label, .slot__label:nth-child(2) {
	transform: translateY(-50%) scaleY(0);
}
.toggle:checked ~ .slot .slot__label:nth-child(2) {
	transform: translateY(-100%) scaleY(1);
}

.slot {
	color: transparent;
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1;
	overflow: hidden;
	height: 1em;
	-webkit-text-stroke: 0.05em #fff;
}
.slot__label {
	transform-origin: 50% 0;
}
.slot__label:nth-child(2) {
	transform-origin: 50% 100%;
}


